<footer>

    <section class="boletinNovedades">

        <h3>Boletín de Novedades</h3>

        <form class="formularioBoletinNovedades" action="">
            <div>
                <input class="emailNovedades" type="email" name="emailNovedades" id="emailNovedades"
                    placeholder="suscribite@beervader.com">

                <div class="divBotonBoletin">
                    <input class="botonSuscribirBoletinNovedades" type="button" value="Suscribirme!">
                </div>
            </div>
        </form>

    </section>

    <section class="redesSociales">

        <div class="iconosRedesSociales">

            <a class="linkSocial" href="#">
                <img class="imgSocialesFooter" src="/images/logos/logo-fb.svg" alt="Facebook">
            </a>

            <a class="linkSocial" href="#">
                <img class="imgSocialesFooter" src="/images/logos/logo-ig.svg" alt="Instagram">
            </a>

        </div>

        <div class="copyright">
            <p>©2022 - Beer Vader Brewery Co.</p>
        </div>

    </section>

    <section class="productosFooter">

        <div class="linkProductos">

            <% for( let i = 0; i < listaDeProductos.length; i++ ) { %>

                <a class="linkProducto" href="/productos#<%= listaDeProductos[i].ancla %> ">
                    <img class="imgProductoFooter" src="/images/productos/<%= listaDeProductos[i].imagen %>">
                </a>

                <% } %>

        </div>

    </section>

</footer>