<header>
    <nav>
        <a class="linkLogoNavegacion" href="/inicio">
            <img class="logoNavegacion" src="images/logos/logo-header.svg" alt="Logo Beer Vader" />
        </a>

        <input type="checkbox" id="botonMenuMovil">
        <label for="botonMenuMovil" id="fontAwsomeBoton"><i class="fa-solid fa-beer-mug-empty fa-2x"
                id="textoBotonMenuMovil"></i></label>

        <ul class="barraNavegacion">
            <li>
                <a href="/inicio"><i class="fa-solid fa-house"></i> Inicio</a>
            </li>
            <li>
                <a href="/productos"><i class="fa-solid fa-award"></i> Nuestras Cervezas</a>
            </li>
            <li>
                <a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</a>
            </li>
            <li>
                <a href="/registro"><i class="fa-solid fa-user-plus"></i> Registrarse</a>
            </li>
            <li>
                <a href="/checkout"><i class="fa-solid fa-cart-shopping"></i> Carrito de Compras</a>
            </li>
        </ul>

    </nav>

</header>