<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/Head') %>

<body>

    <%- include('../partials/Header') %>

    <main class="visualPrimaria">

        <h1 class="tituloError">ERROR!</h1>
        <h2 class="leyendaError">La página que buscas no existe.</h2>
        <h3 class="fraseError">No subestimes a la fuerza. Darth Vader</h3>

    </main>

    <%- include('../partials/Footer') %>

</body>

</html>