
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Vader Brewery Co.</title>
    <link rel="shortcut icon" href="images/logos/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/addtocart.css">
</head>

<body class="background" data-src="images/backgrounds/checkout.jpg">

    <header>
        <nav>
            <a class="linkLogoNavegacion" href="/">
                <img class="logoNavegacion" src="images/logos/logo-header.svg" alt="Logo Beer Vader" />
            </a>

            <input type="checkbox" id="botonMenuMovil">
            <label for="botonMenuMovil" id="fontAwsomeBoton"><i class="fa-solid fa-beer-mug-empty fa-2x"
                    id="textoBotonMenuMovil"></i></label>

            <ul class="barraNavegacion">
                <li>
                    <a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
                </li>
                <li>
                    <a href="/productos"><i class="fa-solid fa-award"></i> Nuestras Cervezas</a>
                </li>
                <li>
                    <a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</a>
                </li>
                <li>
                    <a href="/registro"><i class="fa-solid fa-user-plus"></i> Registrarse</a>
                </li>
                <li>
                    <a href="/checkout"><i class="fa-solid fa-cart-shopping"></i> Carrito de Compras</a>
                </li>
            </ul>

        </nav>

    </header>

    <main class="contenedor">

        <section class="columnaIzquierda">

            <img src="images/productos/r2d2.png" alt="">

        </section>

        <section class="columnaDerecha">

            <div class="titulos">
                <h2 class="titulo">R2-D2 - Kölsch</h2>
                <h2 class="titulo amarillo">$ 499.99</h2>
            </div>

            <p class="descripcionProducto">La cerveza Kölsch es una especialidad alemana. Éste estilo esta dentro de las cervezas híbridas claras. Como cerveza híbrida se elabora a fermentación alta como una Ale y se madura a temperaturas bajas como una Lager. Tiene un sutil aroma lupulado y un carácter limpio.</p>

            <div class="selectorCantidad">
                <label for="cantidadItemCarrito">Cantidad</label>
                <select name="cantidadItemCarrito" id="cantidadItemCarrito" class="cantidadItemCarrito">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>

            <!-- <input id="btnComprar" type="button" name="btnComprar" value="Comprar" class="btnComprar" /> -->
            <a class="btnComprar" href="/checkout">Comprar</a>

        </section>


    </main>

    <footer>

        <section class="boletinNovedades">

            <h3>Boletín de Novedades</h3>

            <form class="formularioBoletinNovedades" action="">
                <div>
                    <input class="emailNovedades" type="email" name="emailNovedades" id="emailNovedades"
                        placeholder="suscribite@beervader.com">

                    <div class="divBotonBoletin">
                        <input class="botonSuscribirBoletinNovedades" type="button" value="Suscribirme!">
                    </div>
                </div>
            </form>

        </section>

        <section class="redesSociales">

            <div class="iconosRedesSociales">

                <a class="linkSocial" href="#">
                    <img class="imgSocialesFooter" src="images/logos/logo-fb.svg" alt="">
                </a>

                <a class="linkSocial" href="#">
                    <img class="imgSocialesFooter" src="images/logos/logo-ig.svg" alt="">
                </a>

            </div>

            <div class="copyright">
                <p>©2022 - Beer Vader Brewery Co.</p>
            </div>

        </section>

        <section class="productosFooter">

            <div class="linkProductos">

                <a class="linkProducto" href="#">
                    <img class="imgProductoFooter" src="images/productos/c3po.png" alt="">
                </a>

                <a class="linkProducto" href="#">
                    <img class="imgProductoFooter" src="images/productos/r2d2.png" alt="">
                </a>

                <a class="linkProducto" href="#">
                    <img class="imgProductoFooter" src="images/productos/chuwbacca.png" alt="">
                </a>

                <a class="linkProducto" href="#">
                    <img class="imgProductoFooter" src="images/productos/han-solo.png" alt="">
                </a>

                <a class="linkProducto" href="#">
                    <img class="imgProductoFooter" src="images/productos/storm-trooper.png" alt="">
                </a>

            </div>

        </section>

    </footer>

</body>
</html>
