<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Vader Brewery Co.</title>
    <link rel="shortcut icon" href="images/logos/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/checkout.css">
</head>

<body class="background" data-src="images/backgrounds/checkout.jpg">

    <header>
        <nav>
            <a class="linkLogoNavegacion" href="/">
                <img class="logoNavegacion" src="images/logos/logo-header.svg" alt="Logo Beer Vader">
            </a>

            <input type="checkbox" id="botonMenuMovil">
            <label for="botonMenuMovil" id="fontAwsomeBoton" ><i class="fa-solid fa-bars fa-2x" id="textoBotonMenuMovil"></i></label>

            <ul class="barraNavegacion">
                <li>
                    <a href="/"><i class="fa-solid fa-house"></i> Inicio</a>
                </li>
                <li>
                    <a href="/productos"><i class="fa-solid fa-beer-mug-empty"></i> Nuestras Cervezas</a>
                </li>
                <li>
                    <a href="/login"><i class="fa-solid fa-right-to-bracket"></i> Iniciar Sesión</a>
                </li>
                <li>
                    <a href="/registro"><i class="fa-solid fa-user-plus"></i> Registrarse</a>
                </li>
                <li>
                    <a href="/checkout"><i class="fa-solid fa-cart-shopping"></i> Carrito de Compras</a>
                </li>
            </ul>

        </nav>

    </header>

    <main class="visualPrimaria">

        <section class="checkout">

            <table class="tablaCheckout">

                <thead>
                    <tr class="headerTablaCheckout">
                        <th style="width: 40%;">Item</th>
                        <th style="width: 30%;">Precio</th>
                        <th style="width: 30%;">Cantidad</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="filaCarrito">
                        <td>
                            <div class="contenedorItemCarrito">
                                <div>
                                    <img class="imgCarrito" src="images/productos/han-solo.png" alt="Han Solo">
                                </div>
                                <div class="itemCarrito">
                                    <p class="descripcionItemCarrito">Helles Han Solo</p>
                                    <a class="btnQuitarDelCarrito" href="#">Quitar</a>
                                </div>
                            </div>
                        </td>
                        <td class="precioItemCarrito">$10</td>
                        <td class="cantidadItemCarrito">
                            <select name="cantidadItemCarrito" id="cantidadItemCarrito" class="cantidadItemCarrito">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>

                    <tr class="filaCarrito">
                        <td>
                            <div class="contenedorItemCarrito">
                                <div>
                                    <img class="imgCarrito" src="images/productos/storm-trooper.png"
                                        alt="Storm Trooper">
                                </div>
                                <div class="itemCarrito">
                                    <p class="descripcionItemCarrito">Scottish Storm Trooper</p>
                                    <a class="btnQuitarDelCarrito" href="#">Quitar</a>
                                </div>
                            </div>
                        </td>
                        <td class="precioItemCarrito">$10</td>
                        <td class="cantidadItemCarrito">
                            <select name="cantidadItemCarrito" id="cantidadItemCarrito" class="cantidadItemCarrito">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>

                </tbody>

            </table>

        </section>

        <section class="resumen">

            <table class="tablaResumen">

                <thead>
                    <tr>
                        <th colspan="2">Resumen</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="filaSubtotal">
                        <td class="subtotal" style="width: 50%;">Subtotal</td>
                        <td class="valorSubtotal" style="width: 50%;">$10</td>
                    </tr>
                </tbody>

                <tfoot>
                    <tr class="filaTotal">
                        <td class="total" style="width: 50%;">Total</td>
                        <td class="valorTotal" style="width: 50%;">$10</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="btnComprar" type="button" name="btnComprar" value="Comprar" class="btnComprar" />
                        </td>
                    </tr>
                </tfoot>

            </table>

        </section>

    </main>

    <footer>

        <section class="boletinNovedades">

            <h3>Boletín de Novedades</h3>

            <form class="formularioBoletinNovedades" action="">
                <div>
                    <input class="emailNovedades" type="email" name="emailNovedades" id="emailNovedades"
                        placeholder="suscribite@beervader.com">

                    <div class="divBotonBoletin">
                        <input class="botonSuscribirBoletinNovedades" type="button" value="Suscribirme!">
                    </div>
                </div>
            </form>

        </section>

        <section class="redesSociales">

            <div class="iconosRedesSociales">

                <a class="linkSocial" href="#">
                    <img class="imgSocialesFooter" src="images/logos/logo-fb.svg" alt="Facebook">
                </a>

                <a class="linkSocial" href="#">
                    <img class="imgSocialesFooter" src="images/logos/logo-ig.svg" alt="Instagram">
                </a>

            </div>

            <div class="copyright">
                <p>©2022 - Beer Vader Brewery Co.</p>
            </div>

        </section>

        <section class="productosFooter">

            <div class="linkProductos">

                <a class="linkProducto" href="/productos#c3po-beer">
                    <img class="imgProductoFooter" src="images/productos/c3po.png" alt="C3PO">
                </a>

                <a class="linkProducto" href="/productos#r2d2-beer">
                    <img class="imgProductoFooter" src="images/productos/r2d2.png" alt="R2-D2">
                </a>

                <a class="linkProducto" href="/productos#chuwbacca-beer">
                    <img class="imgProductoFooter" src="images/productos/chuwbacca.png" alt="Chuwbacca">
                </a>

                <a class="linkProducto" href="/productos#hansolo-beer">
                    <img class="imgProductoFooter" src="images/productos/han-solo.png" alt="Han Solo">
                </a>

                <a class="linkProducto" href="/productos#stormtrooper-beer">
                    <img class="imgProductoFooter" src="images/productos/storm-trooper.png" alt="Storm Trooper">
                </a>

            </div>

        </section>

    </footer>

</body>
</html>
