<!DOCTYPE html>
<html lang="es">

<%- include('./partials/Head') %>

<body>

    <main class="visualPrimaria">

        <h2 class="pregunta">¿Tenés 18 años de edad o más?</h2>

        <div class="divPregunta">
            <a class="linkRespuesta" href="/inicio"><input class="btnOpciones" type="button" value="SI"></a>
            <a class="linkRespuesta" href="#popup"><input class="btnOpciones" type="button" value="NO"></a>
        </div>

        <h5 class="legal">Debés ser mayor de edad para poder ingresar a nuestro sitio.</h5>

    </main>

    <section id="popup" class="overlay">

        <div id="popupBody">

            <h2 class="tituloPopUp">Beer Vader Brewery Co.</h2>

            <div class="popupContent">
                <p>Lamentablemente debes ser mayor para poder ingresar a nuestro sitio pero ¡no importa! aca te dejamos
                    algunas ideas para que te entretengas.</p>

                <ul>
                    <li>Mirar la Saga de Star Wars (planazo).</li>
                    <li>Completar tu entrenamiento Jedi.</li>
                    <li>Diseñar tu propio sable de luz.</li>
                    <li>Escuchar la Banda Sonora de Star Wars en Spotify.</li>
                    <li>Leer la Coleccion de Star Wars.</li>
                </ul>

                <a class="linkRespuesta" href="https://open.spotify.com/playlist/69BOXIItwwyxTgdz6flzvU"><input
                        class="btnOpciones" type="button" value="Ir a Spotify"></a>

            </div>

        </div>
    </section>

</body>

</html>