<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Vader Brewery Co.</title>
    <link rel="shortcut icon" href="images/logos/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <header>
        <main>
            <section>
                <div class="login">
                    <div class="logo">
                        <img src="/images/logos/logo.png" alt="Logo">
                    </div>
                </div>
            </section>
        </main>
    </header>
</body>
</html>