<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Beer Vader Brewery Co.</title>
	<link rel="shortcut icon" href="images/logos/favicon.ico" type="image/x-icon">


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	<link rel="stylesheet" href="css/general.css">
	<link rel="stylesheet" href="css/menu.css">
	<link rel="stylesheet" href="css/login.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="background" data-src="images/backgrounds/login.jpg">

	<header>
		<nav>
			<a class="linkLogoNavegacion" href="/">
				<img class="logoNavegacion" src="images/logos/logo-header.svg" alt="Logo Beer Vader">
			</a>

			<ul class="barraNavegacion">
				<li><a href="/">Inicio</a></li>
				<li><a href="/productos">Nuestras Cervezas</a></li>
				<li><a href="/login">Iniciar Sesión</a></li>
				<li><a href="/registro">Registrarse</a></li>
				<li><a href="/checkout">Carrito de Compras</a></li>
			</ul>

			<div class="menuMovil">
				<button id="botonMenuMovil"><i class="fa-solid fa-bars fa-2x" id="textoBotonMenuMovil"></i></button>
			</div>

		</nav>
	</header>

	<main class="visualPrimaria">

		<section class="login">
			<!-- <div class="login"> vamos a forzar a section a que sea en bloque-->
			<div class="logo">
				<img src="/images/logos/logo.png" alt="Logo">
			</div>
			<div class="formulario">

				<form class="form" action="" method="post">

					<h4>Iniciar Sesión</h4>

					<label for="email">
					<input class="etiquetas" type="email" name="email" id="email" placeholder="Email"></label>

					<label  for="password">
					<input class="etiquetas"type="password" name="password" id="password" placeholder="Password"></label>

					<div class="contenedorCheck">
					<label class="recordatorio"> Recordarme</label>
					<input class="botonCheck" type="checkbox" name="recordarme" id="recordarme">
					</div>	

					<input class="boton" type="submit" name="iniciarSesion" value="Iniciar Sesión">
					<p ><a class="recuperar" href="#">¿ Olvidaste tu contraseña ?</a></p>
				</form>
			</div>
			<!-- </div> -->

		</section>

	</main>

	<footer>

		<section class="boletinNovedades">

			<h3>Boletín de Novedades</h3>

			<form class="formularioBoletinNovedades" action="">
				<div>
					<input class="emailNovedades" type="email" name="emailNovedades" id="emailNovedades"
						placeholder="suscribite@beervader.com">

					<div class="divBotonBoletin">
						<input class="botonSuscribirBoletinNovedades" type="button" value="Suscribirme!">
					</div>
				</div>
			</form>

		</section>

		<section class="redesSociales">

			<div class="iconosRedesSociales">

				<a class="linkSocial" href="#">
					<img class="imgSocialesFooter" src="images/logos/logo-fb.svg" alt="">
				</a>

				<a class="linkSocial" href="#">
					<img class="imgSocialesFooter" src="images/logos/logo-ig.svg" alt="">
				</a>

			</div>

			<div class="copyright">
				<p>©2022 - Beer Vader Brewery Co.</p>
			</div>

		</section>

		<section class="productosFooter">

			<div class="linkProductos">

				<a class="linkProducto" href="#">
					<img class="imgProductoFooter" src="images/productos/c3po.png" alt="">
				</a>

				<a class="linkProducto" href="#">
					<img class="imgProductoFooter" src="images/productos/r2d2.png" alt="">
				</a>

				<a class="linkProducto" href="#">
					<img class="imgProductoFooter" src="images/productos/chuwbacca.png" alt="">
				</a>

				<a class="linkProducto" href="#">
					<img class="imgProductoFooter" src="images/productos/han-solo.png" alt="">
				</a>

				<a class="linkProducto" href="#">
					<img class="imgProductoFooter" src="images/productos/storm-trooper.png" alt="">
				</a>

			</div>

		</section>


	</footer>

	<!-- <script src="js/background.js"></script> -->


</body>

</html>