<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beer Vader Brewery Co.</title>
    <link rel="shortcut icon" href="images/logos/favicon.ico" type="image/x-icon">
</head>
<body>
    <header> 
            <span> 
                <img src="/public/images/favicon.ico" 
                    alt="Logo de Beer Vader Brewery Co."
                >
            </span>

</body>
</html>