/* BACKGROUND */
body {
    background: url(/images/backgrounds/abmProductos.jpg) no-repeat center center fixed;
    background-size: cover;
    animation: efectoFadeIn 1s;
}

@keyframes efectoFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

footer{
    position: absolute;
}


main {

    align-items: center;
}

.tituloAltaProducto {
    display: flex;
    justify-content: center;
    padding: 5px;
}

/* MAIN */
.visualPrimaria{
    display: block;
    align-items: center;
}

.altaProductos {
    margin-top: 30px !important;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.inputAltaProducto {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 90%;
    height: 30px;
    border: 1px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #f1f1f1;
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
}

.contenedorFotoYPrecio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
}

.contenedorFileInput {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    height: 30px;
    border: 1px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #f1f1f1;
    margin: auto;
    text-align: center;
}

.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    font-size:50px;
    opacity: 0;
}

#precioProducto {
    font-family: 'Roboto', sans-serif;
    display: block;
    /* width: 90%; */
    height: 30px;
    border: 1px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #f1f1f1;
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
}

.iconoFileInput{
    margin-top: 5px;
}

.stock{
    display: block;
    text-align: center;
}

#cantidadStockInicialLabel{
    text-align: center;
}

.selectCantidadStockInicial {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    height: 30px;
    border: 1px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #f1f1f1;
    margin: 10px;
    text-align: center;
}

.itemCarrito {
	display: block;
	margin: auto 0;
}

.descripcionItemCarrito {
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
}

.cantidadItemCarrito {
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
	border: none;
}

.precioItemCarrito {
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
	border: none;
}

#precioStock{
    text-align: center;
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
	border: none;
}

.inputAltaProductoDescripcion {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 90%;
    border: 1px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #f1f1f1;
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
}

.btnAltaProducto {
    display: block;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #272727;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background-color: #efb810;
    width: 80%;
    margin: 0 auto 20px;
}

.btnAltaProducto:hover {
    background-color: #1465bb;
    color: #272727;
}

.btnAltaProducto:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
    background-color: #f1f1f1;
}

/* GRID */
.bmProductos {
	display: flex;
	justify-content: center;
    margin-top: 10px;
}

.tablaProductos {
	width: 90%;
	text-align: center;
	border-collapse: separate;
	border-spacing: 0 30px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}

.headerTablaProductos {
	font-weight: 400;
	font-size: 16px;
}

.contenedorItemProducto {
	display: flex;
	justify-content: flex-start;
	margin-left: 40px;
}

.imgProducto{
    max-width: 30px;
    margin: 0 10px;
}

.itemProducto {
	display: block;
	margin: auto 0;
}

#precioStock {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    height: 30px;
    border: 1px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #f1f1f1;
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
}

#precioStock {
    font-family: 'Roboto', sans-serif;
    width: 50%;
    height: 30px;
    border: 1px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #f1f1f1;
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
}

.descripcionItemProducto {
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
}

.precioItemProducto {
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
	border: none;
}

.cantidadItemProducto {
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
	border: none;
    font-family: 'Roboto', sans-serif;
    width: 50%;
    height: 30px;
    border: 1px solid #f1f1f1;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    color: #f1f1f1;
    margin: 10px auto;
    text-align: center;
}

/* BOTONES DE ACCION DE CADA FILA DE LA TABLA */
.grupoBotonesDeAccion {
    display:flex;
    justify-content: center;
}

.formAcciones{
    width: 100px;
}

.btnActualizarProducto{
    display: block;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #272727;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background-color: green;
    width: 80%;
}

.btnEliminarProducto{
    display: block;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #272727;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background-color: red;
    width: 80%;
}


/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    
	.visualPrimaria{
		display: block;
		height: auto;
	}

    footer{
        position: relative;
    }

}