/* BACKGROUND */
body {
    background: url(/images/backgrounds/registro.jpg) no-repeat center center fixed;
    background-size: cover;
    animation: efectoFadeIn 2s;
}

@keyframes efectoFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.contenedor {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
    padding-top: 30px;
    height: 70vh;
}

/* LADO IZQUIERDO */
.columnaIzquierda {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/* LADO DERECHO */
.columnaDerecha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.titulos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 3px;
}

.amarillo {
    color: #efb810;
}

.descripcionProducto {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 3px;
}

.selectorCantidad {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 3px;
}

.btnComprar {
    margin-top: 20px;
    width: 90%;
    font-size: 16px;
    letter-spacing: 2px;
    color: #272727;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    background-color: #efb810;
    text-decoration: none;
    text-align: center;
}

/* @media(max-width:380) {

    * {
        box-sizing: border-box;
    }

    body {
        width: 100%;
        padding-right: 50px;

    }

    .contenedor {
        display: grid;
        width: 50px;
        padding-right: 70%;
        height: 100%;
    }

    .columnaIzquierda {
        padding-right: 150px;
        margin-bottom: 60%;
        height: 60%;
    }

    .titulos {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: -150px;
    }

    .columnaDerecha {
        margin: auto;
        font-size: 12px;
    }

    .titulos {

        font-size: 12px;
    }

    .descripcionProducto {
        font-size: 12px;
    }
} */

@media screen and (max-width: 768px) {

    .contenedor{
        display: block;
        height: auto;
        margin: 5%;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 3px;
    }

    .columnaIzquierda {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 10%;
    }

    .columnaIzquierda img{
        height: 300px;
    }

    .columnaDerecha {
        display: flex;
        align-items: center;
        width: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, 0);
    }

    .titulos {
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
    }

    .descripcionProducto {
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        margin: 10px;
    }

    .selectorCantidad {
        background-color: rgba(0, 0, 0, 0);
        padding: 10px;
    }

    .btnComprar{
        margin-top: 0;
        margin-bottom: 10%;
    }


    /* .descripcionProducto {
        font-size: 18px;
        margin-block: auto;
    } */


}