/* BACKGROUND */
body {
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    background-color: #272727;
}


.visualPrimaria {
    display: flex;
    height: 80vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contenedorImagen{
    text-align: center;
}

.logoPrincipal{
    width: 80%;
}

.imagenPrincipal {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.productos {
    display: flex;
    justify-content: center;
}

.listaDeProductos {
    text-align: center;
}

.itemProducto {
    text-decoration: none;
    color: #f1f1f1;
}

.imgProducto {
    max-width: 7%;
    margin: 30px 50px 0 50px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) and (orientation: landscape){

} 

{
    
}


.imagenPrincipal {


}

.productos{

}

}
