<<<<<<< HEAD
/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* GENERALES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(/images/background/background-baja.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color: #f1f1f1;
}
.logo{
width: 50%;
=======
/* BACKGROUND */
body {
    background: url(/images/backgrounds/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
>>>>>>> origin/Toto
}