/* BACKGROUND */
body {
    background: url(/images/backgrounds/registro.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
}

.logoYBox {
    display:flex;
    align-items:center;
    margin: 20% 20%;
}

.logo {
    display:none;
    }

form {
    background-color: rgba(39, 39, 39, 0.2);
    padding:20px;
    flex-wrap: wrap;
    width:50%;
    height:50%;
    margin:auto;
    border-radius: 15%;
    border:solid rgba(239, 184, 16, 0.4);
}

input {
    display:block;
    justify-content:center;
    width:100%;
    margin-top:10px;
}

button {
    margin-top: 10px;
}

@media (min-width:769px){

    main {
        display:grid;
        grid-template-columns:repeat(1,1fr);
        grid-template-rows:repeat(1,1fr);
        grid-gap:4px;
        height:70vh;
        }

        .logo {
            background-color: rgba(39, 39, 39, 0.2);
            width:50%;
            height: 100%;
            display:block;
            margin-right:3vw;
            border-radius: 5%;
            border:rgba(239, 184, 16, 0.4);
            }
            
            .logo img{
            width: 100%;
            
            
            }
   
}