<!DOCTYPE html>
<html lang="es">

	<%- include('./partials/Head') %> 

<body>

	<%- include('./partials/Header') %> 

	<main>

		<div class="logoYBox">
			<section class="logo">
				<img src="images/logos/logo.png" alt="logo" />
			</section>


			<form action="submit" method="post">

				<h1 class="tituloRegistro">Registro</h1>

				<label for="nombre">
					<input class="inputEntradaRegistro" type="text" name="nombre" placeholder="Nombre y Apellido"
						autocomplete="off" require />
				</label>

				<label for="email">
					<input class="inputEntradaRegistro" type="email" name="email" id="email"
						placeholder="registrate@beervader.com" autocomplete="off" require />
				</label>

				<label for="password">
					<input class="inputEntradaRegistro" type="password" name="password" id="password"
						placeholder="Ingresá tu Contraseña" require />
				</label>

				<label for="repetirPassword">
					<input class="inputEntradaRegistro" type="password" name="repetirPassword" id="repetirPassword"
						placeholder="Repetí tu Contraseña" require />
				</label>

				<button class="btnRegistro" type="submit">Registrarme</button>
			</form>


		</div>
	</main>

	<%- include('./partials/Footer') %> 
</body>

</html>