<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/Head') %>
    
<body>
</header>


<body>

    <%- include('../partials/Header') %>

    <main class="contenedor">

        <section class="columnaIzquierda">

            <img src="images/productos/r2d2.png" alt="">

        </section>

        <section class="columnaDerecha">

            <div class="titulos">
                <h2 class="titulo">R2-D2 - Kölsch</h2>
                <h2 class="titulo amarillo">$ 499.99</h2>
            </div>

            <p class="descripcionProducto">La cerveza Kölsch es una especialidad alemana. Éste estilo esta dentro de las
                cervezas híbridas claras. Como cerveza híbrida se elabora a fermentación alta como una Ale y se madura a
                temperaturas bajas como una Lager. Tiene un sutil aroma lupulado y un carácter limpio.</p>

            <div class="selectorCantidad">
                <label for="cantidadItemCarrito">Cantidad</label>
                <select name="cantidadItemCarrito" id="cantidadItemCarrito" class="cantidadItemCarrito">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>

            <!-- <input id="btnComprar" type="button" name="btnComprar" value="Comprar" class="btnComprar" /> -->
            <a class="btnComprar" href="/checkout">Comprar</a>

        </section>


    </main>

    <%- include('../partials/Footer') %>


</body>

</html>