<!DOCTYPE html>
<html lang="es">
<head>
    
    <%- include('../../partials/Head.ejs') %>

<body>

    <%- include('../../partials/Header') %>

    <main class="visualPrimaria">

        <section class="logoPrincipal">

            <div class="contenedorLogoPrincipal">
                <img class="logoBeerVaderPrincipal" src="/images/logos/logo.png" alt="">
            </div>

        </section>

        <section class="productosPrincipal">

            <div class="grupoLatas">

                <a class="linkProductoPrincipal" href="/productos#c3po-beer">
                    <img class="imgProductoPrincipal" src="/images/productos/c3po.png" alt="C3PO">
                </a>

                <a class="linkProductoPrincipal" href="/productos#r2d2-beer">
                    <img class="imgProductoPrincipal" src="/images/productos/r2d2.png" alt="R2-D2">
                </a>

                <a class="linkProductoPrincipal" href="/productos#chuwbacca-beer">
                    <img class="imgProductoPrincipal" src="/images/productos/chuwbacca.png" alt="Chuwbacca">
                </a>

                <a class="linkProductoPrincipal" href="/productos#hansolo-beer">
                    <img class="imgProductoPrincipal" src="/images/productos/han-solo.png" alt="Han Solo">
                </a>

                <a class="linkProductoPrincipal" href="/productos#stormtrooper-beer">
                    <img class="imgProductoPrincipal" src="/images/productos/storm-trooper.png" alt="Storm Trooper">
                </a>

            </div>

        </section>

    </main>

    <%- include('../../partials/Footer') %>

</body>
</html>
