<!DOCTYPE html>
<html lang="es">
<head>

    <%- include('../../partials/Head.ejs') %>

<body>

    <%- include('../../partials/Header') %>

    <main class="visualPrimaria">

        <section class="altaProductos">

            <form action="submit" method="post">

                <h1 class="tituloAltaProducto">Alta de Producto</h1>

                <label for="nombreProducto">
                    <input class="inputAltaProducto" type="text" name="nombreProducto" placeholder="Nombre del Producto"
                        autocomplete="off" require />
                </label>

                <textarea class="inputAltaProductoDescripcion" name="descripcionProducto" id="descripcionProducto"
                    placeholder="Descripcion del producto" cols="20" rows="5" autocomplete="off" require></textarea>

                <label for="precioProducto">
                    <input class="inputAltaProducto" type="number" name="precioProducto" id="precioProducto"
                        placeholder="Precio de Venta Publico (PVP)" require />
                </label>

                <div class="stock">

                    <label for="cantidadStockInicial" id="cantidadStockInicial">Stock</label>
                    <select name="cantidadStockInicial" id="selectCantidadStockInicial">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>

                <button class="btnAltaProducto" type="submit">Crear Producto</button>
            </form>


        </section>

        <section class="bmProductos">

            <table class="tablaCheckout">

                <thead>
                    <tr class="headerTablaCheckout">
                        <th style="width: 40%;">Item</th>
                        <th style="width: 30%;">Precio</th>
                        <th style="width: 30%;">Stock</th>
                    </tr>
                </thead>

                <tbody>

                    <tr class="filaCarrito">
                        <td>
                            <div class="contenedorItemCarrito">
                                <div>
                                    <img class="imgCarrito" src="/images/productos/han-solo.png" alt="Han Solo">
                                </div>
                                <div class="itemCarrito">
                                    <p class="descripcionItemCarrito">Helles Han Solo</p>
                                </div>
                            </div>
                        </td>
                        <td class="precioItemCarrito">$ <input type="number" name="precioStock" id="precioStock" value="10"></td>

                        <td class="cantidadItemCarrito">
                            <select name="cantidadItemCarrito" id="cantidadItemCarrito" class="cantidadItemCarrito">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>

                    <tr class="filaCarrito">
                        <td>
                            <div class="contenedorItemCarrito">
                                <div>
                                    <img class="imgCarrito" src="/images/productos/storm-trooper.png"
                                        alt="Storm Trooper">
                                </div>
                                <div class="itemCarrito">
                                    <p class="descripcionItemCarrito">Scottish Storm Trooper</p>
                                </div>
                            </div>
                        </td>
                        <td class="precioItemCarrito">$ <input type="number" name="precioStock" id="precioStock" value="10"></td>
                        <td class="cantidadItemCarrito">
                            <select name="cantidadItemCarrito" id="cantidadItemCarrito" class="cantidadItemCarrito">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option selected value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </td>
                    </tr>

                </tbody>

            </table>

        </section>


    </main>

    <%- include('../../partials/Footer') %>

</body>
</html>
